.pagination {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: #9eabb3;
    text-align: center;
}

.pagination a {
    color: #9eabb3;
    transition: all .2s ease;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts, .older-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #ddd 1px dashed;
    text-decoration: none;
    transition: border .3s ease;
}

.newer-posts {
    left: 0;
}

.older-posts {
    right: 0;
}

.site-footer {
    padding-bottom: 20px !important;
}

.nav-current a:visited {
    color: yellow;
}

@media (min-width: 900px) {
    .ctsingle .post-feed {
        margin-top: -70px;
        padding-top: 0;    
    } 
    .ctsingle .site-nav {
        position: relative;
        top: -70px;
    }    
}

@media (min-width: 795px) {  
    .ctsingle .post-feed p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }
}

@media (max-width: 650px) {
    .hide {
        display: none !important;
    }   
    .copyright {
        text-align: center;
    }
}

.post-full-content pre code {
    color: #e5eff5;
}

.post-card-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 25px 25px;
}

.author-list {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
}

.author-list-item {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.author-list-item:nth-child(1) {
  z-index: 10;
}

.author-list-item:nth-child(2) {
  z-index: 9;
}

.author-list-item:nth-child(3) {
  z-index: 8;
}

.author-list-item:nth-child(4) {
  z-index: 7;
}

.author-list-item:nth-child(5) {
  z-index: 6;
}

.author-list-item:nth-child(6) {
  z-index: 5;
}

.author-list-item:nth-child(7) {
  z-index: 4;
}

.author-list-item:nth-child(8) {
  z-index: 3;
}

.author-list-item:nth-child(9) {
  z-index: 2;
}

.author-list-item:nth-child(10) {
  z-index: 1;
}

.static-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -5px;
  width: 34px;
  height: 34px;
  border: #fff 2px solid;
  border-radius: 100%;
}

.author-name-tooltip {
  position: absolute;
  bottom: 105%;
  z-index: 999;
  display: block;
  padding: 2px 8px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  white-space: nowrap;
  background: #15171a;
  border-radius: 3px;
  box-shadow: rgba(39, 44, 49, 0.08) 0 12px 26px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: translateY(6px);
  pointer-events: none;
}

.author-list-item:hover .author-name-tooltip {
  opacity: 1.0;
  transform: translateY(0px);
}

@media (max-width: 650px) {
  .author-name-tooltip {
    display: none;
  }
}

.reading-time {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 20px;
  color: #738a94;
  font-size: 1.2rem;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}